<div>
  <a routerLink="/addbook" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add Book</a>
  <table class="striped centered responsive-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{book.id}} </td>
        <td>{{book.title}} </td>
        <td>{{book.author}} </td>
        <td>{{book.year}} </td>
        <td>
            <a class="waves-effect waves-light btn btn-small blue "><i class="material-icons left">create</i>Edit</a> or
            <a (click)="delete(book)" class="waves-effect waves-light btn btn-small red"><i class="material-icons left">delete_forever</i>Delete</a>

      </tr>
    </tbody>
  </table>

</div>
